body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #F5F5F5;
}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}