body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  color: #F5F5F5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.content-section__subtitle {
  /* 32.2px */
  margin-bottom: 32px;
  /* цвет наследуется из темы */
  /* color: #131313; */
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
  line-height: 115%;
}

.content-section__introduction {
  /* 135% */
  margin-bottom: 32px;
  /* цвет наследуется из темы */
  /* color: #131313; */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 16px;
}

.content-section__list-item {
  color: #131313;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  align-self: flex-start;
  width: 80px;
}

.header__logo-image {
  width: 100%;
}

/* .header__menu {} */

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 12px;
  list-style: none;
}

.header__menu-item {
  border-bottom: 2px solid #F5F5F5;
}

.header__menu-item_active {
  border: none;
}

.header__menu-link {
  color: #F5F5F5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 19.2px;
  /* 120% */
  text-decoration: none;
}

.cover {
  padding: 7px 24px 0 20px;
  background-image: url('../images/cover.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__title {
  color: #FFF;
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 72px;
  font-style: normal;
  line-height: 100%;
  /* 72px */
}

.intro {
  padding: 30px 20px 38px;
}

.intro__heading {
  display: flex;
  margin-bottom: 24px;
}

.intro__title {
  color: #CCCCCC;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  /* 19.2px */
}

.intro__date {
  color: #CCCCCC;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  /* 19.2px */
  white-space: nowrap;
}

.intro__main-text {
  /* 135% */
  margin-bottom: 24px;
  color: #F5F5F5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 21.6px;
}

.intro__main-text:last-child {
  margin-bottom: 0;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  list-style: none;
}

.card {
  border-radius: 30px;
  padding: 20px;
}

/* .card_text-only {} */

.card_theme_dark {
  color: #F5F5F5;
  background: #343434;
}

.card_theme_bright {
  color: #131313;
  background: #FEE42A;
}

.card__author {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;
}

.card__author-photo {
  width: 100px;
}

.card__author-name {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 135%;
  /* 21.6px */
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card__title {
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 135%;
  /* 29.7px */
}

.card__text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 21.6px;
  /* 135% */
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #FEE42A;
  padding: 20px;
}

.footer__copy {
  color: #F5F5F5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 135%;
  /* 21.6px */
}

.footer__links {
  display: flex;
  column-gap: 16px;
  list-style: none;
}

.footer__link {
  color: #F5F5F5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  /* 17.5px */
}